<style>
    body {
        margin-top: 100px;
    }
</style>

<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Moje umelecké objekty
        </h1>
    </div>
</div>
<!-- /.row -->

    <div id="columns">
        <figure ng-repeat="object in myobjectall.objects">
            <!--<button>Like</button>-->
           <a href="/object/{{ object._id }}"><img src="{{ object.media_object }}"></a>

            <!--<button ng-click="fcia()">OK</button>-->

            <figcaption><b>{{ object.title }}</b></figcaption>
            <figcaption><a href="/allobjects/{{ object.creator }}">{{ object.creator  }}</a></figcaption>
        </figure>
    </div>
</div>