<style>
    body {
        margin-top: 200px;
    }
</style>
<center>
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-12" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                                <h2 class="featurette-heading">{{storyTitle}}</h2>
                                                    <h4 ng-show="main.isLoggedIn">{{storySubtitle}}</h4>
                <p align="left">{{storyDescription}}</p>
                <!--<p class="main">{{storyDescription}}</p>-->

            </div>

    <div id="columns">
        <figure ng-repeat="image in images">
            <!--<button>Like</button>-->
           <a href="/object/{{ object._id }}"><img src="{{image}}"></a>

            <!--<button ng-click="fcia()">OK</button>-->

            <figcaption><b>{{ object.title }}</b></figcaption>
            <figcaption><a href="/allobjects/{{ object.creator }}">{{ object.creator  }}</a></figcaption>
        </figure>
    </div>
</div>

            <div class="row">
                <div class="col-md-12">
                    <a href="/story/{{ storyId }}/addImages">Uploadnuť obrázky</a>
                </div>
            </div>

    <div id="columns">
        <figure ng-repeat="object in myobjectall.objects">
            <!--<button>Like</button>-->
           <a href="/object/{{ object._id }}"><img src="{{ object.media_object }}"></a>

            <!--<button ng-click="fcia()">OK</button>-->

            <figcaption><b>{{ object.title }}</b></figcaption>
            <figcaption><a href="/allobjects/{{ object.creator }}">{{ object.creator  }}</a></figcaption>
        </figure>
    </div>
</div>